<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
</head>
<body>
 {{> partials/header }} 
  <div class="container">
    <div class="row">
      <div class="col">
         
        <h1> {{title}}</h1>
         
        <ul>
          {{#each products}}
            <li>{{this.title}}</li>
          {{/each}}
        </ul>
          
      </div>
    </div>
  
 {{> partials/footer }} 
</div>
</body>

</html>