<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
</head>
<body>
 {{> partials/header }} 
  <div class="container">
    <div class="row">
      <div class="col">
         
        <h1>register</h1>
        <p style="height: 390px;">✨ A lightweight foundation for your next webpack based frontend project.</p>

         
       

      </div>
    </div>
  
 {{> partials/footer }} 
</div>
</body>

</html>